$yellow: #fddc43;
@import "reset.css";
@import "fonts.css";
@import "style-db.css";
@import "style-dc.css";
@import "style-dd.css";
@import "style-de.css";
@import "style-df.css";
@import "style-dg.css";
@import "style-dh.css";
@import "style-di.css";
@import "style-dj.css";


.clear{
	clear: both;
}
.center{
	text-align: center;
}

h2{
	color: #030303;
	font-family: "GothamProBold";
	font-size: 32px;
	text-transform: uppercase;
    font-weight: 700;
}

.section_padding{
	padding:20px 0;
}

.button-1{
	background-color: $yellow;
	color: #0c0b0b;
    font-family: "GothamProBlack";
	text-transform: uppercase;


}
.input__view{
	border: 1px solid #080808;
	outline: none;
	color: #060606;
	line-height: 26px;
	width: 305px;
	height: 52px;
	font-family: "GothamProRegular";
	padding-left: 50px;
}




@media only screen and (min-width : 320px) {
}

@media only screen and (min-width : 480px) {
}

@media only screen and (min-width : 768px) {
}

@media only screen and (min-width : 992px) {
}

@media only screen and (min-width : 1248px) {
}

.col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12 {
    //outline: 5px solid red;
}
.col-xs-1, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9, .col-xs-10, .col-xs-11, .col-xs-12 {

}
.col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12 {
}
.col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12 {
}


