/* Testimonials */
/* line 2, C:/OpenServer/domains/watch.loc/css/style-dg.scss */
.owl-prev, .owl-next {
  display: block !important; }

/* line 6, C:/OpenServer/domains/watch.loc/css/style-dg.scss */
section.testimonials {
  padding-top: 50px;
  padding-bottom: 70px; }

/* line 10, C:/OpenServer/domains/watch.loc/css/style-dg.scss */
.testimonials__title {
  text-align: center;
  font-family: "GothamProBold", sans-serif;
  position: relative;
  text-align: center;
  display: inline-block;
  margin-bottom: 45px; }
  /* line 17, C:/OpenServer/domains/watch.loc/css/style-dg.scss */
  .testimonials__title:before, .testimonials__title:after {
    content: none; }

/* line 21, C:/OpenServer/domains/watch.loc/css/style-dg.scss */
.clients {
  font-weight: 300;
  font-family: "GothamProRegular", sans-serif; }

/* line 25, C:/OpenServer/domains/watch.loc/css/style-dg.scss */
.testimonials__carousel {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  justify-content: space-between; }

/* line 33, C:/OpenServer/domains/watch.loc/css/style-dg.scss */
.testimonials__carousel-header {
  text-align: center;
  margin-bottom: 30px; }

/* line 37, C:/OpenServer/domains/watch.loc/css/style-dg.scss */
.testimonials__carousel-item {
  padding: 15px 20px 30px 20px;
  background: #fddc43;
  max-height: 440px;
  overflow: hidden; }
  /* line 42, C:/OpenServer/domains/watch.loc/css/style-dg.scss */
  .testimonials__carousel-item:last-child {
    margin-right: 0; }

/* line 46, C:/OpenServer/domains/watch.loc/css/style-dg.scss */
.owl-item.center .testimonials__carousel-item {
  background: #babab9; }

/* line 49, C:/OpenServer/domains/watch.loc/css/style-dg.scss */
.testimonials__item-name {
  color: #070707;
  font-family: "HelveticaNeueCyr-Bold";
  font-size: 20px;
  font-weight: 700;
  line-height: 30px; }

/* line 56, C:/OpenServer/domains/watch.loc/css/style-dg.scss */
.testimonials__item-city {
  color: #020202;
  font-family: "HelveticaNeueCyr-Light";
  font-size: 18px;
  line-height: 30px;
  font-weight: 300; }

/* line 63, C:/OpenServer/domains/watch.loc/css/style-dg.scss */
.testimonials__item-text {
  color: #060606;
  font-family: "GothamProLight";
  font-size: 16px;
  font-weight: 300;
  line-height: 26px;
  text-align: center;
  overflow: hidden;
  max-height: 200px; }

/* line 73, C:/OpenServer/domains/watch.loc/css/style-dg.scss */
.testimonials__avatar {
  width: 100px;
  margin: auto;
  margin-bottom: 15px; }
  /* line 77, C:/OpenServer/domains/watch.loc/css/style-dg.scss */
  .testimonials__avatar img {
    display: block;
    margin: auto;
    max-width: 100px; }

/* line 83, C:/OpenServer/domains/watch.loc/css/style-dg.scss */
.dg-left, .dg-right {
  position: absolute;
  top: 50%;
  margin-top: -25px;
  width: 50px;
  height: 50px;
  display: none; }

/* line 91, C:/OpenServer/domains/watch.loc/css/style-dg.scss */
.dg-left {
  background-image: url(/img/prev_btn.png);
  background-size: cover;
  left: -10px; }

/* line 96, C:/OpenServer/domains/watch.loc/css/style-dg.scss */
.dg-right {
  background-image: url(/img/next_btn.png);
  background-size: cover;
  right: -10px; }

@media only screen and (min-width: 480px) {
  /* line 105, C:/OpenServer/domains/watch.loc/css/style-dg.scss */
  .dg-left, .dg-right {
    display: block; } }

@media only screen and (min-width: 992px) {
  /* line 115, C:/OpenServer/domains/watch.loc/css/style-dg.scss */
  .testimonials__title:before, .testimonials__title:after {
    content: '';
    position: absolute;
    width: 94px;
    height: 1px;
    background: #cececf; }
  /* line 122, C:/OpenServer/domains/watch.loc/css/style-dg.scss */
  .testimonials__title:before {
    left: -117px;
    top: 50%; }
  /* line 126, C:/OpenServer/domains/watch.loc/css/style-dg.scss */
  .testimonials__title:after {
    right: -117px;
    top: 50%; } }

@media only screen and (min-width: 1170px) {
  /* line 134, C:/OpenServer/domains/watch.loc/css/style-dg.scss */
  .dg-left {
    background-image: url(/img/left_btn.png);
    background-size: cover;
    left: -60px; }
  /* line 139, C:/OpenServer/domains/watch.loc/css/style-dg.scss */
  .dg-right {
    background-image: url(/img/right_btn.png);
    background-size: cover;
    right: -60px; }
  /* line 145, C:/OpenServer/domains/watch.loc/css/style-dg.scss */
  .testimonials__title:before, .testimonials__title:after {
    width: 94px; } }

/*# sourceMappingURL=style-dg.css.map */